<div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md">
  <h1 class="text-2xl font-bold mb-4">Sign Up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :username, class: "block text-gray-700 font-bold mb-2" %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 font-bold mb-2" %>
      <%= f.email_field :email, autocomplete: "email", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="mb-4">
      <%= f.label :province_id, class: "block text-gray-700 font-bold mb-2" %>
      <%= f.select :province_id, options_for_select(Province.all.map { |p| [p.name, p.id] }), { include_blank: 'Select province' }, { class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50' } %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 font-bold mb-2" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block text-gray-700 font-bold mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="mb-4">
      <%= f.label :address, class: "block text-gray-700 font-bold mb-2" %>
      <%= f.text_field :address, autofocus: true, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="mb-4">
      <%= f.label :postal_code, class: "block text-gray-700 font-bold mb-2" %>
      <%= f.text_field :postal_code, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <div class="text-center">
      <%= f.submit "Sign up", data: { turbo: false }, class: "px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition duration-300" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>