<div class="max-w-2xl mx-auto py-8">
  <div class="bg-white shadow-md rounded px-8 py-6 mb-4">
    <h1 class="text-3xl font-bold mb-4">Order Confirmation</h1>

    <h2 class="text-2xl font-bold mb-2">Billing Address</h2>
    <p class="mb-2"><%= current_user.full_name.titleize %></p>
    <p class="mb-2"><%= current_user.address.titleize %></p>
    <p class="mb-2"> <%= current_user.postal_code %> - <%= @province.name %></p>
    <p class="mb-2">Canada</p>
    <h2 class="text-2xl font-bold mt-8 mb-4">Order Details</h2>
    <% if @cart_products.any? %>
      <div class="overflow-x-auto">
        <table class="border-collapse w-full mb-8">
          <thead>
            <tr>
              <th class="border border-gray-400 px-4 py-2">Product</th>
              <th class="border border-gray-400 px-4 py-2">Quantity</th>
              <th class="border border-gray-400 px-4 py-2">Price</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_products.each do |item| %>
              <tr class="border border-gray-400">
                <td class="border border-gray-400 px-4 py-2"><%= item[:product].name.titleize %></td>
                <td class="border border-gray-400 px-4 py-2"><%= item[:quantity] %></td>
                <td class="border border-gray-400 px-4 py-2">$ <%= item[:product].price %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= form_with url: api_v1_orders_path, method: :post do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <div class="flex flex-wrap gap-3 py-5 mb-5 w-full">
          <div class="w-full">
            <div class="relative flex flex-col">
              <%= form.label :credit_card_number, "Card Number", class: "font-bold" %>
              <%= form.text_field :credit_card_number, class: "w-full rounded-md peer pl-2 pr-2 py-2 border-2 border-gray-200 placeholder-gray-300", placeholder: "0000 0000 0000" %>
            </div>
          </div>
          <div class="w-full flex gap-3">
            <div class="w-1/2">
              <%= form.label :credit_card_exp, "Expiration Date", class: "font-bold mb-3" %>
              <%= form.text_field :credit_card_exp, class: "w-full rounded-md peer pl-2 pr-2 py-2 border-2 border-gray-200 placeholder-gray-300", placeholder: "MM/YY" %>
            </div>
            <div class="w-1/2">
              <%= form.label :credit_card_cvv, "CVC/CVV", class: "font-bold mb-3" %>
              <%= form.text_field :credit_card_cvv, class: "w-full rounded-md peer pl-2 pr-2 py-2 border-2 border-gray-200 placeholder-gray-300", placeholder: "CVC/CVV" %>
            </div>
          </div>
          <div class="flex justify-between items-end w-full">
            <div class="">
              <%= form.hidden_field :base_cost, value: @subtotal %>
              <p class="mb-2">Subtotal: $ <%= number_to_currency(@subtotal) %></p>
              <% if @province.gst %>
                <p class="mb-2">GST: $ <%= number_to_currency(@subtotal * @province.gst) %></p>
              <% end %>
              <% if @province.pst %>
                <p class="mb-2">PST: $ <%= number_to_currency(@subtotal * @province.pst) %></p>
              <% end %>
              <% if @province.hst %>
                <p class="mb-2">HST: $ <%= number_to_currency(@subtotal * @province.hst) %></p>
              <% end %>
              <%= form.hidden_field :total_cost, value: @total %>
              <p class="font-bold">Total: $ <%= number_to_currency(@total) %></p>
            </div>
            <div class="justify-self-end">
              <%= form.submit "Confirm Order", class: "bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 focus:outline-none" %>
              <% if flash[:alert] %>
                <p class="text-red-500"><%= flash[:alert] %></p>
              <% end %>
            </div>
          </div>
      </div>
      <% end %>
    <% else %>
      <p>Your cart is empty.</p>
    <% end %>
  </div>

</div>