<!DOCTYPE html>
<html lang="en">
<head>
  <title>FurnitureEcommerce</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>

<% if current_user %>
  <nav class="bg-gray-800 py-4">
    <div class="max-w-7xl mx-auto px-4 flex justify-between items-center">
      <ul class="flex space-x-4">
        <!-- Username with Tailwind styling -->
        <li class="uppercase text-yellow-500">
          <%= current_user.username %>
        </li>
        <li>
          <%= link_to 'Home', root_path, class: 'text-white hover:text-gray-300' %>
        </li>
        <li>
          <%= link_to 'About', about_path, class: 'text-white hover:text-gray-300' %>
        </li>
        <li>
          <%= link_to 'Contact', contact_path, class: 'text-white hover:text-gray-300' %>
        </li>
        <li>
          <%= link_to 'My Orders', user_orders_path(current_user), class: 'text-white hover:text-gray-300' %>
        </li>
        <li>
          <% if current_user.admin? %>
        <li>
          <%= link_to 'Admin', admin_path, class: 'text-white hover:text-gray-300' %>
        </li>
          <% end %>
        <li>
          <%= link_to cart_path, class: "relative" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-white">
              <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
            </svg>
            <% if session[:cart].present? %>
              <span class="flex items-center justify-center absolute -bottom-1 -right-7 bg-red-500 text-white rounded-full h-4 w-4 transform translate-x-2">
                <%= session[:cart].values.sum %>
              </span>
            <% end %>
          <% end %>
        </li>
        <li><%= render 'partials/variations' %></li>
      </ul>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: 'bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded' %>
    </div>
  </nav>
  <%# <p>Hello <%= current_user.username > </p> %>
  <%# <p>You are a [<%= current_user.role >]</p> %>
  <%# <% if current_user.admin? > %>
    <%# <p> There are <%= User.count > users in the system </p> %>
  <%# <% end > %>
<% else %>
  <nav class="bg-gray-800 py-4">
    <div class="max-w-7xl mx-auto px-4 flex justify-between items-center">
      <ul class="flex space-x-4">
        <li>
          <%= link_to 'Home', root_path, class: 'text-white hover:text-gray-300' %>
        </li>
        <li>
          <%= link_to 'About', about_path, class: 'text-white hover:text-gray-300' %>
        </li>
          <li> <%= link_to 'Contact', contact_path, class: 'text-white hover:text-gray-300' %>
        </li>
        <li><%= render 'partials/variations' %></li>
      </ul>
      <div>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2' %>
        <%= link_to 'Log In', new_user_session_path, class: 'bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded' %>
      </div>
    </div>
  </nav>
<% end %>

<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>